
.accordion{
    width: 25%;
    display: flex;
    flex-direction: column;
    /* flex-direction: row; */
}
.accordion2{
    display: flex;
    min-height: 300px;
    max-width: 700px;
    min-width: 300px;
    overflow: hidden;
}
.block_panel2{
    background-color: #212121;
    flex-grow: 0.5;
    
}
.hidden_panel2 {
    flex-grow: 0;
    background-color: aqua;
    width: 0px;
    transition: 0.5s;
    /* display: none; */

}
.block_panel {
    background-color:rgb(83, 83, 83);
    color: #fff;
    cursor: pointer;
    padding: 16px;
    height: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 18px;
    transition: 0.5s;
}
 .block_panel:hover {
    background-color: rgb(61, 61, 61);
}
.block_panel:after {
    content: '\2BAF';
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}
.active:after{
    content: '\2BAD';
}
.hidden_panel {
    padding: 0 ;
    color: #212121;
    background-color: #fff;
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease-out;
}

.wrap{ 
    width: 800px;
}

